@page "/admin/location/{locationID:int}"
@attribute [Authorize(Roles = "Admin")]
@inject HttpClient http
@inject IJSRuntime js
<h3>@ViewResources.Location</h3>
<br>
@if (location == null)
{
    <Loading />
}
else
{
    <RadzenTabs>
        <Tabs>
            <Radzen.Blazor.RadzenTabsItem Text="@ViewResources.Location">
                <RadzenCard class="mat-elevation-z5" Style="width:600px; margin-bottom: 20px; height:500px;">
                    <div class="row">
                        <div class="col-md-6">
                            <div>@ModelResources.Identifier</div>
                            <b>@location.ID</b>
                            <div style="margin-top:20px">@ModelResources.Name:</div>
                            <b>@location.Name</b>
                        </div>
                        <div class="col-md-6">
                            <div>@ModelResources.Address</div>
                            <b>
                                @location.Address
                            </b>
                            <div style="margin-top:20px">@ModelResources.Website</div>
                            <b>
                                <a href="@location.Website">@location.Website</a>
                            </b>
                        </div>
                    </div>
                </RadzenCard>
            </Radzen.Blazor.RadzenTabsItem>
            @if (!string.IsNullOrEmpty(location.Description))
            {
                <Radzen.Blazor.RadzenTabsItem Text="@ModelResources.Description">
                    <RadzenCard class="mat-elevation-z5" Style="width:600px; margin-bottom: 20px; height:500px;">
                        <p>@location.Description</p>
                    </RadzenCard>
                </Radzen.Blazor.RadzenTabsItem>
            }
        </Tabs>
    </RadzenTabs>
}

@code {
    [Parameter] public int locationID { get; set; }
    LocationViewModel location { get; set; }

    protected override async Task OnInitializedAsync()
    {
        location = await http.GetFromJsonAsync<LocationViewModel>($"api/location/{locationID}");
    }
}